/** {
    margin: 0;
    padding: 0;
}*/

.div-body-style {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    align-self: center;
    width: 60%;
}

.body-txt {
    display: flex;
    position: relative;
    top: 250px;
    width: 60%;
    left: 250px;
}